/* Eléments génraux de la page */

body
{
	color: black;
	background: url(imagesFerme/trame.png);				
}

h2
{
	font-weight: bold;
}

h4.block-title
{
	color: #80500f;
	text-transform: uppercase;
	background: url(imagesFerme/oak_white.jpg);
  margin-bottom: 0px;
	border-left: 3px solid #6b430d;
  padding-bottom: 5px;
  padding-top: 5px;
}

span.color
{
	color: #80500f;
}
span.bold
{
	font-weight: bold;
}

span.white
{
  color: #ffffff;
}

div.separator
{
  border-top: 2px solid #575151;
}

/* Header */

header
{
	background: url(imagesFerme/oak_white.jpg);
	text-align: center;
	color: #ffffff;
  margin-bottom: 30px;
}

header img
{
	width: 300px;
  height: 150px;
}

/* Navigation */

/*
nav .navbar-fixed-top
{
	background: url(imagesFerme/oak_white.jpg);
}
*/

nav ul
{
  list-style-type: none;
  display: flex;
}

nav li
{
  margin-right: 15px;
}

nav a
{
  font-size: 1.3em;
  color: #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover
{
  color: #760001;
  border-bottom: 3px solid #760001;
}

hr
{
  border: 3px dotted #ffffff;
  border-style: none none dotted;
  background-color: none;
}

/* bloc-page-ferme */

div #article
{
  list-style-type: none;
  display: flex;
  background-color: #fff;
  border-left: 3px solid #908d89;
}

div #banner
{
	top: -8px;
	position: relative;
}

div.block-article
{
  background-color: #fff;
  border-left: 3px solid #908d89;
  text-align: center;
}

div.convention-ligne
{
  padding-top: 20px;
}

span.convention-name
{
  color: #eaec27;
}

img.box-shadow-large
{
  width: 652.5px;
}

img.box-shadow-small
{
  width: 262.5px;
}

div.picture-back
{
  background: url(imagesFerme/blendconf-link2.png) no-repeat;
  background-size: contain;
}

img.button-img
{
  width: 262.5px;
  border-radius: 5px;
}

p.button-text
{
  background-color: #563F08;
  border-left: 5px solid #FEF324;
  text-align: right;
  font-size: 20px;
}

#session
{
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  color: #000
}
